.article-container {
    box-sizing: border-box;
    width: calc(100% - 2rem);
    margin: 1rem;
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    background: #e6e6e6;
    overflow: hidden;
    animation-name: slidein-left;
    animation-duration: 500ms;
    animation-delay: 200ms;
    animation-fill-mode: backwards;
    transition-property: background transform;
    transition-duration: 100ms;
}
.article-container:hover {
    transform: translateY(-0.005%) scale(1.005);
    background: #eee;
}

.title {
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    margin-bottom: 0.5rem;
}

.article-img {
    width: 100%;
    border-radius: 0.25rem;
    margin-bottom: 1rem;
}
.article-img.non-img {
    display: none;
}

.description {
    margin: 0 0.25rem 1rem;
    text-indent: 1em;
}

.author {
    float: left;
}

.publishedAt {
    float: right;
}

@media only screen and (min-width: 700px) {
    .article-container {
        margin-left: auto;
        margin-right: auto;
        max-width: 976px;
        display: grid;
        grid-template-columns: auto 1fr auto;
        grid-template-areas:
            "title    title       title    "
            "img      description description  "
            "author   author       timestamp"
    }
    .title {
        grid-area: title;
    }
    
    .article-img {
        grid-area: img;
        margin: 0;
        width: auto;
        max-height: 100px;
    }
    
    .description {
        grid-area: description;
        margin: 0;
        padding: 1rem;
        max-width: 750px;
    }
    
    .author {
        grid-area: author;
        padding-right: 1rem;
        text-align: right;
    }
    
    .publishedAt {
        grid-area: timestamp;
        text-align: right;
    }
}


@keyframes slidein-left {
    from {
        transform: translateX(-100vw);
    }
    to {
        transform: translateX(0);
    }
}